*{
    margin:0;
    padding;0;
}

header{
    background-image:url("canada.jpeg");
    background-size:cover;
}

body{
    background-color:#CCFFFF;
}

#icon{
    width:150px;
    border:300px;
    border-radius:10%;
    margin:40px 10px -30px 30px;
}

#myname{
    color:white;
    font-size:40px;
    font-weight:bold;
    text-shadow:2px 2px 1px black;
}

nav{
    background-color:#aacccc;
    boader-radius:10px 10px 0px 0px;
}

nav ul li{
    display:inline;
    margin:0 15px 0 15px;
}

nav ul li a{
    text-decoration:none;
    color:#444444;
    font-weight:bold;
}

.top{
    width:800px;
    margin:0px auto 0px auto;
}

nav ul{
    margin-left:210px;
}

.container{
    background-color:white;
    width:740px;
    margin:0px auto 0px auto;
    padding:30px 30px 60px 30px;
    border-radius:0 0 10px 10px;
}

.profile{
    padding:0 20px 0 20px;
    line-height:35px;
}

hr{
    margin:20px 0 20px 0;
}

footer{
    position:fixed;
    bottom:0;
    background-color:#aacccc;
    text-align:center;
    width:100%;
    color:#666666;
    padding:20px 0 20px 0;
}
